.Descriptor{
    background-color: rgb(60, 120, 216);
}

.Descriptor-Text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:antiquewhite

}

.Descriptor-Ends{
    max-width: 920px;
    text-align: justify;
}