.Descriptor{
    background-color: rgb(243, 195, 74);
}

.Descriptor-Text{
    display: flex;
    /* padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 500px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Descriptor-Ends{
    max-width: 920px;
    text-align: justify;
}