.Game-Content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Game-Header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
}

.Game-Video{
    width: 920px;
    height: 560px;
}

.Game-Text-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game-Text{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    text-align: justify;
}

.Game-Link{
    background-color: rgb(60, 120, 216);
    color: antiquewhite;
    padding: 10px 24px;
}