.My-Name{
    display: flex;
    justify-content: center;
    color: rgb(60, 120, 216);
    font-size: 30px;
}

.Header-H1{
    margin: 10px;
}

.BG{
    background-color: rgb(60, 120, 216);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link-Child{
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;

}

.Main-Link{
    display: inline-flex;
    justify-content: space-between;
    font-size: 30px;
    text-decoration: none;
    color: antiquewhite;
}