.Title{
    display: flex;
    justify-content: center;
    color: rgb(60, 120, 216);
    font-size: 40px;
}


.Video{
    display: flex;
    justify-content: center;
}

.Media-Container{
    display: flex;
    justify-content: center;
}

.Media{
    display: inline-flex;
    width: 920px;
    object-fit: contain;
}

.Media > img{
    object-fit: contain;
    width: 100%;
}

.Work-Display-Text-Container{
    display: flex;
    justify-content: center;
}

.Work-Display-Text{
    display: flex;
    justify-content: center;
    width: 920px;
}

